@model IEnumerable<FinalProject_ITI.Models.TopLeague>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Top Leagues</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:300px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="bi bi-pencil-square me-2"></i>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="bi bi-list-ul me-2"></i>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash me-2"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
